* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times new roman";
    overflow-x: hidden;
}

.bg {
    color: rgb(245, 242, 242);
    background-image: url(images/Crash.png);
    text-align: center;
    height: 15vh;
    width: auto;
}

.im1929 {
    position: relative;
    left: auto;
}

.im1987 {
    position: relative;
    left: auto;
}

.imdot {
    position: relative;
    left: auto;
}

.im2008 {
    position: relative;
    left: auto;
}

strong {
    position: relative;
    top: 5vh;
    font-size: 25px;
}

.author {
    text-align: center;
    opacity: 0.4;
}

.defination,
.feedback {
    margin-left: 5px;
}

.container {
    margin-left: 20px;
}

#gd,
#usa,
.crash1,
.crash2,
.crash3,
.crash4 {
    margin-top: 8px;
}

.Name {
    margin-top: 8px;
    margin-left: 8px;
}

.Name1 {
    margin-left: 11px;
}

.email {
    margin-left: 43px;
}

.area {
    padding: 40px;
}

.btn,.btn1 {
    margin-left: 5px;
    padding: 3px;
    border-radius: 2px;
}

.btn,.btn1:hover {
    padding: 6px;
    border-radius: 4px;
}

.foot {
    height: 20vh;
    width: auto;
    background-color: rgb(84, 85, 87);

}

.copy {
    text-align: center;
}

@media only screen and (max-width:900px) {
    .imdot {
        position: relative;
        left: auto;
    }
    .im1929{
        position: relative;
        left: auto;

    }
    .im1987 {
        position: relative;
        left: auto;
    }

    .im2008 {
        position: relative;
        left: auto;
        height: 200px;
        width: 400px;
    }

    .fb {
        margin-left: 25vw;
    }
}

.fb,
.linkd,
.ins,
.git,
.twit {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.fb {
    margin-top: 2vh;
    margin-left: 27vw;
}

@media only screen and (min-width:600px) {
    .fb {
        margin-left: 32vw;
    }
}

@media only screen and (min-width:720px) {
    .fb {
        margin-left: 37vw;
    }
}

@media only screen and (min-width:850px) {
    .fb {
        margin-left: 40vw;
    }
}

@media only screen and (min-width:1000px) {
    .fb {
        margin-left: 41vw;
    }
}